<section class="dashboard-tabular-obs-section" id="tabular-obs">
    <div>
        <h2 class="section-title">{{section | titleTranslate}}</h2>

        <section class="patient-monitering">
            <table>
                <tr>
                    <th> </th>
                    <th ng-repeat="header in flowsheetHeader" ng-class="{'current-month'== true}">
                        {{header}}
                        <hint concept-details="header"/>
                    </th>
                </tr>
                <tr ng-repeat="row in flowsheetDataKeys">
                    <td >{{ row }}</td>
                    <td ng-repeat="data in flowsheetData[row] track by $index" class="results" ng-class="{'results-green': data == true ,'results-purple': data == false ,'results-current'
                    : header == september ,'results-yellow' : header == true}">{{ data }} </td>
                </tr>

            </table>
        </section>
    </div>
</section>
