ul.token-input-list-facebook {
  width:807px;
  border:1px solid #DDD;
  margin:0;
  li.token-input-token-facebook {
    font-size: 13px;
    padding: 4px 5px;
    border-radius: 1px;
    border: 1px solid #d0d0d0;
    margin:3px;
    background-color: #e6e7e8;
    color: #363463;
    span{
      color: $white;
    }
  }
  &.illegalValue{
    border: 2px solid #ff3434;
  }
}


li.token-input-selected-token-facebook {
  background-color: #EBEBEB;
  color: #363463;
}

div.token-input-dropdown-facebook ul li {
  width:auto;
  font-size:13px;
  padding: 5px 10px;
  color: #000;
  &.token-input-selected-dropdown-item-facebook {
    background-color: #EBEBEB;
    color: #363463;
  }
}
