.patient-monitering{
  .legends{
    margin:10px;
    padding: 10px;
    width:auto;
    float: right;
    border: 1px solid $darkerGrey;
    span{
      padding:0 5px;
      font-family: $OpenSansFont;
      font-size: 12px;
      &.legends-color{
        padding-left: 25px;
        position:relative;
        &:before{
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          background: #d6d6d6;
          left: 5px;
          top: 1px;
        }
        &.legends-yellow:before{
          background: #f0f078;
        }
        &.legends-green:before{
          background: #9ed016;
        }
        &.legends-purple:before{
          background: #9551b2;
        }
      }

    }
  }
  .monitoring-table-wrap{
    width: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
  }
  .monitoring-table-scroll {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left:298px;
    table {
      border-spacing: 2px;
      border-collapse: separate;
      tr {
        border-bottom: 0;
        td, th {
          border: 0;
          padding: 10px;
          height: 17px;
          &.monitoring-fixed-column{
            position:absolute;
            left:0;
            width:300px;
            height: auto;
            background: #d6d6d6;
            box-sizing: border-box;
            height:37px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        th {
          font-family: $OpenSansFont;
          background: #d6d6d6;
          &.current-month {
            background: #9a9a9a;
            color: $white;
          }
        }
        td,th {
          &.monitoring-results {
            background: #dddbdb;
            &--green {
              background: #9ed016;
            }
            &--purple {
              background: #9551b2;
            }
            &--yellow {
              background: #f0f078;
            }
            &--current {
              //position: relative;
              background: rgba(154, 154, 154, 0.4);
              &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: rgba(154, 154, 154, 0.4);
                z-index: 999999;
                left: 0;
                top: 0;
              }
            }
          }

        }
      }
    }
  }
}