.patient-monitering{
  overflow: auto;
  .legends{
    margin:10px;
    padding: 10px;
    width:auto;
    float: right;
    border: 1px solid $darkerGrey;
    span{
      padding:0 5px;
      font-family: $OpenSansFont;
      font-size: 12px;
      &.legends-color{
        padding-left: 25px;
        position:relative;
        &:before{
          content: "";
          position: absolute;
          width: 15px;
          height: 15px;
          background: #d6d6d6;
          left: 5px;
          top: 1px;
        }
        &.legends-yellow:before{
          background: #f0f078;
        }
        &.legends-green:before{
          background: #9ed016;
        }
        &.legends-purple:before{
          background: #9551b2;
        }
      }

    }
  }
  table{
    border-spacing:2px;
    border-collapse: separate;
      tr{
        border-bottom: 0;
        td,th{
          border:0;
          padding: 10px;
        }
        th{
          font-family: $OpenSansFont;
          background: #d6d6d6;
          &.current-month{
            background:#9a9a9a ;
            color: $white;
          }
        }
        td{
          &.results{
            background: #efefef;
            &.results-green{
              background: #9ed016;
            }
            &.results-purple{
              background: #9551b2;
            }
            &.results-yellow{
              background: #f0f078;
            }
            &.results-current{
              background: #d9d966;
            }
          }

        }
      }
  }
}